* {
  margin: 0;
  padding: 0;
}

.drum-machine-container {
  background-color: rgb(36, 38, 49);
  border: 3px solid black;
  border-radius: 8px;
  width: fit-content;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

.header-container {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 0 4em;
  padding-top: 0.25em;
  color: white;
}

.header-container p {
  font-style: italic;
  font-weight: 900;
  font-size: large;
}

.icon {
  margin-right: 0.25em;
  height: 25px;
}

.drum-pad-container {
  display: grid;
  grid-template-columns: repeat(3, 6em);
  grid-template-rows: repeat(3, 6em);
}

.body-container {
  display: flex;
  flex-direction: column-reverse;
  justify-content: space-between;
  align-items: center;
  padding: 0 1em;
}

.display-container {
  width: 75%;
  padding: 2em 0;
  margin: 1em 0;
  background-color: white;
  border-radius: 8px;
  border: 3px solid black;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
  text-align: center;
}

.acknowledgements {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: x-small;
  text-align: center;
  margin-bottom: 0.5em;
}

.acknowledgements a {
  color: white;
  margin-left: 0.5em;
}

@media only screen and (min-width: 600px) {
  .header-container p {
    font-size: x-large;
  }

  .body-container {
    flex-direction: row;
  }
}
