* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.drum-machine-container {
  background-color: rgb(71, 74, 87);
  border: 3px solid black;
  width: fit-content;
  border-radius: 8px;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

.header-container {
  font-family: Techno, sans-serif;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 0 4em;
  padding-top: 0.25em;
  color: white;
  margin: 0.5rem 0 0.5rem 0;
}

.icon {
  margin-right: 0.25em;
  height: 25px;
}

.drum-pad-container {
  display: grid;
  grid-template-columns: repeat(3, 6em);
  grid-template-rows: repeat(3, 6em);
  gap: 0.5rem;
}

.body-container {
  display: flex;
  flex-direction: column-reverse;
  justify-content: space-between;
  align-items: flex-start;
  gap: 1rem;
  padding: 0 1rem 1rem 1rem;
}

.display-container {
  font-family: digital, sans-serif;
  font-size: larger;
  width: 100%;
  padding: 0.5rem 0;
  background-color: rgb(255, 255, 255);
  border: 2px solid black;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
  text-align: center;
  min-width: 10rem;
}

.acknowledgements a {
  color: white;
  margin-left: 0.5em;
}

@media only screen and (min-width: 600px) {
  .header-container p {
    font-size: x-large;
  }

  .body-container {
    flex-direction: row;
  }
}
