* {
  margin: 0;
  padding: 0;
}

.drum-machine-container {
  background-color: rgb(87, 108, 126);
  border-radius: 4px;
}

.header-container {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  padding-top: 0.25em;
  color: white;
}

.header-container p {
  font-style: italic;
  font-weight: 900;
  font-size: x-large;
}

.drum-pad-container {
  display: grid;
  grid-template-columns: repeat(3, 6em);
  grid-template-rows: repeat(3, 6em);
}

.body-container {
  display: flex;
  flex-flow: row, nowrap;
  justify-content: space-evenly;
  align-items: center;
  padding: 0.5em;
}

.body-container * {
  border: 1px solid rgb(0, 255, 0);
}