.drum-pad {
    font-family: Techno, sans-serif;
    border: 2px solid black;
    border-radius: 8px;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
    font-size: x-large;
    color: rgb(46, 46, 46);
}
